.person-details-container {
  width: 46%;
  height: 300px;
  background-color: #313131;
  border-radius: 5px;
  border: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(82, 82, 82);
}

.person-name {
    margin-bottom: 30px;
}

.description-person-list {
    list-style: none;
}

.description-person-list li{
    padding: 10px;
    width: 90%;
    border: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(82, 82, 82); 
}