.header {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.logo {
    margin-right: 3%;
}

.navbar {
    list-style: none;
    display: flex;
    width: 350px;
    justify-items: baseline;
}

.navbar li {
    margin-right: 3%;
    font-size: 20px;
    color: teal;
}
